.button{
    display: block;
    margin: 20px;
    padding: 6px 22px;
    background: #3f8f17b5;
    color: #ffffff;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.62;
    text-align: center;
    border: transparent;
    border-radius: 4px;
    cursor: pointer;
}

.button:hover,
.button:focus {
    background-color:rgb(223, 40, 23);
}